@import url(./__image/photo-grid__image.css);

.photo-grid {
  display: grid;
  margin: 0 auto;
  padding: 92px 0;
  max-width: 1184px;

  grid-gap: 16px 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}
