@import url(./__logo/header__logo.css);
@import url(./__lang-links-container/header__lang-links-container.css);
@import url(./__items/header__items.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_active/header__lang-link_active.css);

.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
}

@media screen and (min-width: 768px) {
  .header {
    padding: 28px 24px 0 24px;
  }
}

@media screen and (min-width: 1024px) {
  .header {
    padding: 28px 48px 0 48px;
  }
}
