.places__place {
  display: grid;
  padding-bottom: 48px;
}

.places__place:last-of-type {
  padding-bottom: 0;
}

@media screen and (min-width: 768px) {
  .places__place {
    padding-bottom: 72px;

    grid-template-columns: repeat(auto-fit, 340px 352px);
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .places__place {
    padding-bottom: 80px;

    grid-template-columns: repeat(auto-fit, 440px 456px);
    grid-gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .places__place {
    grid-template-columns: repeat(auto-fit, 460px 484px);
    grid-gap: 48px 40px;
  }
}
