@import url(./__links-container/footer__links-container.css);
@import url(./__items/footer__items.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 92px;
  max-width: 1184px;
}
