@import url(./__links-container/footer__links-container.css);
@import url(./__items/footer__items.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 64px 16px 24px 16px;
  max-width: 1184px;
}

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 88px 24px 24px 24px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    padding: 92px 48px 24px 48px;
  }
}
